:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-link-color: #2196f3;
  --button-text-color: #ffffff;
  --logo-color-blue: #2196f3;
  --logo-color-black: #000000;
  --logo-color-white: #ffffff;
  --hero-title-color: #ffffff;
  --background-color: #ffffff;
  --background-color-footer: #2f303a;
  --background-color-hero: #2f303a;
  --background-color-button: #2196f3;
  --team-card-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --section-block-grey: #f5f4fa;
  --products-card-bcg: #eeeeee;
  --circle-footer-color: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --icon-background-footer: rgba(255, 255, 255, 0.1);
  --product-overlay-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing: 250ms;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(255, 255, 255, 0.6);
  --comment-color: rgba(117, 117, 117, 0.5);
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", "Raleway", "sans-serif";
  color: var(--title-color);
  font-size: 14px;
}

img {
  display: block;
}

ul {
  list-style: none;
}

svg {
  display: block;
}

/* Логотип */

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-black);
  text-decoration: none;
}

.web-logo {
  color: var(--logo-color-blue);
}

/* Навігація */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

.site-nav {
  margin: 0;
  display: flex;
  gap: 50px;
  padding: 0;
}

.nav-link {
  position: relative;
  padding-bottom: 34px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color var(--transition-timing) var(--timing-function);
}

.nav-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  opacity: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-color-button);
  transition: opacity var(--transition-timing) var(--timing-function);
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.nav-link.current {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--hover-link-color);
}

.nav-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  opacity: 1;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-color-button);
  transition: opacity var(--transition-timing) var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-link-color);
}

/* Контакти в навігації */

.contacts-nav {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 50px;
}

.contacts-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: color var(--transition-timing) var(--timing-function),
    fill var(--transition-timing) var(--timing-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-link-color);
  fill: var(--hover-link-color);
}

.container.header {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;

  display: flex;
  justify-content: space-between;
  gap: 344px;
}

.icon-header {
  fill: currentColor;
  margin: 0 10px 0 0;
}

.section {
  padding: 94px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

/* Контейнер */

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

/* Герой */

.hero {
  background-color: var(--background-color-hero);
  text-align: center;
  padding: 200px 0;

  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-bottom: 30px;
  width: 696px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.container.hero-title {
  margin: 0 auto;
}

/* Бекдроп */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-timing) var(--timing-function),
    visibility var(--transition-timing) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Модальне вікно */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: scale var(--transition-timing) var(--timing-function);

  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transition: translate(-50%, -50%) scale(0.9);
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  cursor: pointer;
  fill: var(--logo-color-black);

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition-timing) var(--timing-function);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--hover-link-color);
}

.button-close-icon {
  width: 18px;
  height: 18px;
}

.modal-title {
  margin: 0 0 12px 0;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

/* .modal-label {
  position: relative;
} */

.modal-form-title {
  display: flex;
  margin-bottom: 4px;
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-form {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-timing) var(--timing-function);
}

.modal-form:focus {
  border-color: var(--background-color-button);
  outline: none;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
}

.form-field {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 11px;
  left: 12px;

  fill: var(--title-color);
  width: 18px;
  height: 18px;
  transition: fill var(--transition-timing) var(--timing-function);
}

.modal-form:focus + .modal-form-icon {
  fill: var(--background-color-button);
}

.modal-form-comment {
  margin: 0 0 20px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color var(--transition-timing) var(--timing-function);
}

.modal-form-comment:focus {
  border-color: var(--background-color-button);
  outline: none;
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--comment-color);
}

.modal-label-comment {
  margin-bottom: 20px;
}

.modal-chekbox {
  height: 24px;
  display: flex;
  align-items: center;
  margin: 0 0 30px;
  padding: 0;
}

.chekbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.chekbox-icon {
  margin-right: 7px;
  margin-left: 13px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.chekbox:checked + .chekbox-icon {
  background-color: var(--background-color-button);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--background-color-button);
}

.checkbox-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.agreement-link {
  margin: 0;
  padding: 0;
  color: var(--background-color-button);
}

.modal-send-button {
  margin: 0 auto;
  padding: 10px 52px;
  background-color: var(--background-color-button);
  cursor: pointer;

  border-radius: 4px;
  border: none;

  transition: box-shadow var(--transition-timing) var(--timing-function);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--background-color);
}

.modal-send-button:hover,
.modal-send-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Кнопка у герої */

.request-our-service {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--background-color-button);
  color: var(--button-text-color);

  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
}

/* Особливості */

.peculiarities-list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.peculiarities-item {
  display: inline;
}

.peculiarities-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--section-block-grey);
  margin-bottom: 30px;
  border-radius: 4px;
}

.peculiarities-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.peculiarities-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.peculiarities-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.peculiarities-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.peculiarities-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin: 0;
  width: 270px;
}

/* Діяльність */

.section.activities {
  padding-top: 0;
}

.container.activities {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.activities-list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.activities-thumb {
  position: relative;
}

.activities-actions {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.activities-title {
  margin: 0;
  padding: 27px 0;
  white-space: nowrap;
  width: 370px;
  text-align: center;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Команда */

.our-team {
  background-color: var(--section-block-grey);
}

.team-list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.team-card {
  background: var(--team-card-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}

.employee-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin: 0 0 16px;
  padding: 0;
}

.container-teamcard {
  padding: 30px 0;
}

.join-employee {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.joinus-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.joinus-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinus-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--team-card-color);
  fill: var(--icon-color);
  transition: background-color var(--transition-timing) var(--timing-function),
    fill var(--transition-timing) var(--timing-function);
}

.joinus-link:hover,
.joinus-link:focus {
  color: var(--team-card-color);
  background-color: var(--hover-link-color);
  border: none;
  fill: var(--team-card-color);
}

.joinus-icon {
  width: 20px;
  height: 20px;
}

/* Клієнти */

.clients-list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.client-link {
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: fill var(--transition-timing) var(--timing-function),
    border var(--transition-timing) var(--timing-function);
}

.client-link:hover,
.client-link:focus {
  fill: var(--hover-link-color);
  border: var(--hover-link-color) solid 1px;
}

/* Портфоліо */

.filters-list {
  margin: 0 0 50px;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 8px;
}

.projects-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* Кнопки портфоліо */

.button-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 73px;
  height: 38px;
  gap: 8px;
  padding: 6px 22px;
  transition: color var(--transition-timing) var(--timing-function),
    background-color var(--transition-timing) var(--timing-function),
    box-shadow var(--transition-timing) var(--timing-function);
}

.button-filters:hover,
.button-filters:focus {
  font-family: inherit;
  color: var(--button-text-color);
  background-color: var(--background-color-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Продукти */

.products-card {
  background-color: var(--background-color);
  flex-basis: calc((100% - 60px) / 3);
}

.product-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.product-link {
  text-decoration: none;
  display: block;
  transition: box-shadow var(--transition-timing) var(--timing-function);
}

.product-link:hover,
.product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products {
  margin: 0;
  padding: 20px 24px;
  border-top: none;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product-overlay-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--product-overlay-color);
  transform: translateY(100%);
  transition: transform var(--transition-timing) var(--timing-function);
  padding: 63px 24px;
}

.product-link:hover .product-overlay,
.product-link:focus .product-overlay {
  transform: translateY(0);
}

.product-overlay-text {
  margin: 0;
  padding: 0;
  display: flex;

  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

/* Футер */

.footer {
  background-color: var(--background-color-footer);
  padding: 60px 0;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

/* Логотип у футері */

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-white);
  text-decoration: none;

  margin: 0;
  padding: 0;
}

/* Адреса та контакти */

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-list {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.footer-list li {
  margin-bottom: 9px;
}

.footer-list li:last-child {
  margin: 0;
}

/* Адреса у футері */

.footer-adress {
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
}

/* Контакти у футері */

.footer-contacts {
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  text-decoration: none;
  transition: color var(--transition-timing) var(--timing-function);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-link-color);
}

.joinus-title {
  margin: 0 0 20px;
  width: 116px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--background-color);
  letter-spacing: 0.03em;
  vertical-align: Top;
}

.joinus-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-background-footer);
  fill: var(--button-text-color);
  transition: background-color var(--transition-timing) var(--timing-function);
}

.joinus-link-footer:hover,
.joinus-link-footer:focus {
  background-color: var(--hover-link-color);
  border: none;
  fill: var(--team-card-color);
}

.email-input-title {
  margin: 0 0 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.input {
  margin: 0 12px 0 0;
  padding: 15px 0 15px 16px;
  width: 358px;
  height: 50px;
  background-color: var(--background-color-footer);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--background-color);

  transition: border-color var(--transition-timing) var(--timing-function);
}

.input:focus {
  outline: none;
  border-color: var(--background-color-button);
}

.input::placeholder {
  color: var(--placeholder-color);
}

.subscribe-footer {
  margin: 0;
  padding: 10px 28px;
  cursor: pointer;

  color: var(--background-color);
  background-color: var(--background-color-button);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.subscribe-footer-icon {
  fill: var(--background-color);
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
/* Приховування елементів */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
