/* Команда */

.our-team {
  background-color: var(--section-block-grey);
}

.team-list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.team-card {
  background: var(--team-card-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}

.employee-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin: 0 0 16px;
  padding: 0;
}

.container-teamcard {
  padding: 30px 0;
}

.join-employee {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.joinus-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.joinus-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinus-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--team-card-color);
  fill: var(--icon-color);
  transition: background-color var(--transition-timing) var(--timing-function),
    fill var(--transition-timing) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--team-card-color);
    background-color: var(--hover-link-color);
    border: none;
    fill: var(--team-card-color);
  }
}

.joinus-icon {
  width: 20px;
  height: 20px;
}
